* {
    box-sizing: border-box;
}

footer {
    text-align: center;
    background-color: #6bdbd6;
    width: 99%;
    border: 2.5px;
    padding: 20px;
    margin: 10px;
    border-style: solid;
    border-color: black;
}

nav {
    background-color:rgba(19, 226, 233, 0.527);
    width: 99%;
    border: 2.5px;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-color: black;
}

ul.navigation {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    list-style: none;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    list-style: none;
    gap: .5rem;
    width: 99%;
}

@media (min-width: 768px) {
ul.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 95%;
}
}

@media (min-width: 768px) {
.gallery {
grid-template-columns: 1fr 1fr;
}
}

@media (min-width: 1200px) {
.gallery {
grid-template-columns: 1fr 1fr 1fr;
}
}

.gallery img {
    vertical-align:middle;
    border-radius: 1rem;
    max-width: 100%;
}

#main {
    background-color: aqua;
    width: 99%;
    border: 2.5px;
    padding: 20px;
    margin: 10px;
    border-style: solid;
    border-color: black;
}

.mainheader {
    background-color: rgb(1, 146, 165);
    width: 99%;
    border: 2.5px;
    padding: 20px;
    margin: 10px;
    border-style: solid;
    border-color: black;
}

body {
    background-image: url("assets/background.jpg") ;
}