* {
    box-sizing: border-box;
}

footer {
    text-align: center;
    background-color: #6bdbd6;
    width: 100%;
    border: 2.5px;
    padding: 20px;
    margin: 10px;
    border-style: solid;
    border-color: black;
}

nav {
    background-color:rgba(19, 226, 233, 0.527);
    width: 100%;
    border: 2.5px;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-color: black;
}

ul.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 90%;
}

.gallery {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: flex-start;
}

@media (max-width: 768px) {
.gallery {
grid-template-columns: 1fr;
}

}


.gallery img {
    min-height: auto;
    border-radius: 8px;   
}

#main {
    background-color: aqua;
    width: 100%;
    border: 2.5px;
    padding: 20px;
    margin: 10px;
    border-style: solid;
    border-color: black;
}

.mainheader {
    background-color: rgb(1, 146, 165);
    width: 100%;
    border: 2.5px;
    padding: 20px;
    margin: 10px;
    border-style: solid;
    border-color: black;
}

body {
    background-image: url("assets/background.jpg") ;
    width: 100%;
}